[submodule ".vim"]
	path = .vim
	url = https://github.com/dmwp37/dmwp37-vim-config.git
	ignore = all
	update = merge
[submodule ".shell"]
	path = .shell
	url = https://github.com/dmwp37/zsh-env.git
	ignore = all
	update = merge
