[core]
    pager = cat
    ignoreCygwinFSTricks = true
#    gitproxy = http-proxy-gw for kernel.org 
#    gitproxy = http-proxy-gw for uncrustify.git.sourceforge.net
    excludesfile =  ~/.gitignore_global
    filemode = false
[gui]
    recentrepo = D:/Data/project/common_tcmd_local
    fontui = -family \"MS Sans Serif\" -size 10 -weight normal -slant roman -underline 0 -overstrike 0 [user]
    name = Xudong Huang
    email = huangxu008@hotmail.com
[color]
    ui = auto
[alias]
    st = status
    co = checkout
    lsb = branch -a
    br = branch
    lg = log --pretty=oneline --abbrev-commit -18
    df = diff --no-ext-diff
    dfc = diff --no-ext-diff --cached
[http]
#    proxy = http://wwwgate0-ch.mot.com:1080
[diff]
    external = ~/bin/diff-wrapper.sh
    renames = true
[merge]
    tool = bdiff

[mergetool]
    keepBackup = false

[mergetool "bdiff"]
    cmd = ~/bin/bdiff "$PWD/$LOCAL" "$PWD/$REMOTE" "$PWD/$BASE" "$PWD/$MERGED" \
          /title1="local" /title2="remote" /title3="base"
    trustExitCode = true
    keepBackup = false

#push changes to gerrit
[url "ssh://cnrd-diag-gerrit.jnpr.net:29418/"]
    pushinsteadOf=ssh://git@ssd-git-03.juniper.net/diag/
    pushinsteadOf=ssh://git@ssd-git-03.juniper.net:diag/
    pushinsteadOf=git@ssd-git-03.juniper.net/diag/
    pushinsteadOf=git@ssd-git-03.juniper.net:diag/
    insteadOf=ssh://git@ssd-git-03.juniper.net/diag/
    insteadOf=ssh://git@ssd-git-03.juniper.net:diag/
    insteadOf=git@ssd-git-03.juniper.net/diag/
    insteadOf=git@ssd-git-03.juniper.net:diag/

[user]
    name = Xudong Huang
	email = huangxu008@hotmail.com
[push]
    default = simple
